# 🏭 BUILD CONFIGURATION
# Liệt kê các ENTRY POINTS cần đóng gói, cách nhau bởi dấu phẩy.
# Ví dụ: home,SalonDetail,CustomerProfile
BUILD_TARGET=home,SalonDetail

# Cổng phát triển của Webpack Dev Server (Mặc định: 3000)
# PORT=3000